{% extends "helpdesk/emails/base_email.html" %}{% load i18n %}

{% block header %}{% trans "Ticket Assigned - Followed Ticket" %}{% endblock %}

{% block content %}
<p style="font-family: sans-serif; font-size: 1em;">
{% blocktrans trimmed %}
Hello,

This is a courtesy e-mail to let you know that ticket <a href="{{ ticket.staff_url }}"><b>{{ ticket.ticket }}</b></a> (<em>{{ ticket.title }}</em>) for {{ submitter_email }}, which you are following, has been {% if ticket.assigned_to %}assigned to {{ ticket.assigned_to }}{% else %}unassigned{% endif %}.
{% endblocktrans %}
</p>

<p style="font-family: sans-serif; font-size: 1em;">
<b>{% trans "Ticket ID" %}</b>: {{ ticket.ticket }}<br>
<b>{% trans "Queue" %}</b>: {{ queue.title }}<br>
<b>{% trans "Title" %}</b>: {{ ticket.title }}<br>
<b>{% trans "Opened" %}</b>: {{ ticket.created|date:"DATETIME_FORMAT" }}<br>
<b>{% trans "Submitter" %}</b>: {{ ticket.submitter_email|default:_("Unknown") }}<br>
<b>{% trans "Priority" %}</b>: {{ ticket.get_priority_display }}<br>
<b>{% trans "Status" %}</b>: {{ ticket.get_status }}<br>
<b>{% trans "Assigned to" %}</b>: {{ ticket.get_assigned_to }}<br>
<b><a href='{{ ticket.staff_url }}'>{% trans "View Online" %}</a></b> {% trans "to update this ticket (login required)" %}</p>

<p style="font-family: sans-serif; font-size: 1em;">{% trans "Just for reference, the original ticket description was:" %}</p>

<blockquote style="font-family: sans-serif; font-size: 1em;">{{ ticket.description|linebreaksbr }}</blockquote>
{% endblock %}
